<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Senate</title>
    <link rel="stylesheet" href="../asset/media/styles/tgif.css">

  </head>

  <body>
    <a class="logo" href="./home.html">TGIF</a>
    <!---------navbar bootstrap begin------------>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
            </li>
    <!-------dropdown  congress113----->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Congress113
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="./congress-senate.html">Senate</a></li>
                  <li><a class="dropdown-item" href="./congress-house.html">House</a></li>
                </ul>
              </li>      
    <!-------dropdown  attendance----->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               attendance
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="./attendance-senate.html">Senate</a></li>
                <li><a class="dropdown-item" href="./attendance-house.html">House</a></li>
              </ul>
            </li>
    <!-----------Loyalty------->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                loyalty
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="./loyalty-senate.html">Senate</a></li>
                  <li><a class="dropdown-item" href="./loyalty-house.html">House</a></li>
                </ul>
              </li>    
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <h1>Senators</h1>
      <p>
        First convened in 1789, the composition and powers of the Senate are established 
        in Article One of the U.S. Constitution. Each state is represented by two senators, 
        regardless of population, who serve staggered six-year terms. The Senate has 
        several exclusive powers not granted to the House, including consenting to 
        treaties as a precondition to their ratification and consenting to or confirming 
        appointments of Cabinet secretaries, federal judges, other federal executive 
        officials, military officers, regulatory officials, ambassadors, and other federal 
        uniformed officers, as well as trial of federal officials impeached by the House.
      </p>


  <div class="container">
    <div class="row">
      <div class="col">Filter by Party
<!--Checkboxes Filter by party-->
        <div class="form-check form-check-inline"> 
          <input class="form-check-input" type="checkbox" id="rep" value="R">
          <label class="form-check-label" for="inlineCheckbox1">Republican</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="dem" value="D">
          <label class="form-check-label" for="inlineCheckbox2">Democrat</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ind" value="ID">
          <label class="form-check-label" for="inlineCheckbox3">Independent</label>
        </div>
        </div>
        
<!--Filter by states-->
      <div class="col-md-auto">Filter by States</div>
           <div class="col col-lg-1">
            <select id="state_list" class="form-select" aria-label="All states" style="width: 20%;"> 
              <option selected>ALL</option> 
            </select>
        </div>
      </div>
    </div>
    
<!--Table-->
    <div class="container">
      <table class="table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Party</th>
              <th>State</th>
              <th>Years in Office</th>
              <th>% Votes with Party</th>
              <th>Official web site</th>
          </tr>
        </thead>
      <tbody id="senateId">  
      </tbody>
      </table>
      
<!--bootstrap footer-->
      <div class="footercontainer">
        <div class="col" style="background-color: rgb(215, 210, 210);">
          <p>2016 TGIF | All Rights Reserved</p>
        </div>
      </div>


    </div>
    <script src="../scripts/tgif.js"></script>
    <script src="../scripts/senate.js"></script>
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>